<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>产品信息</title>
    <link rel="stylesheet" href="http://114.215.130.186/static/themes/my.min.css" />
    <!-- <link rel="stylesheet" href="http://114.215.130.186/static/themes/jquery.mobile.icons.min.css" /> -->
    <link rel="stylesheet" href="http://114.215.130.186/static/css/jquery.mobile.structure-1.4.4.min.css" />
    <script src="http://114.215.130.186/static/js/jquery.min.js"></script>
    <script src="http://114.215.130.186/static/js/jquery.mobile-1.4.4.min.js"></script>
</head>
<body>
    <div data-role="preview ui-shadow swatch">
        <div class="ui-header ui-bar-a" role="banner" data-role="header" data-form="ui-bar-a" data-theme="a" data-swatch="a">
            <!-- <a class="ui-btn-left ui-btn-corner-all ui-btn ui-icon-home ui-btn-icon-notext ui-shadow" data-form="ui-icon" title=" Home " data-role="button" role="button"> Home </a> -->
            <h1 class="ui-title" aria-level="1" role="heading" tabindex="0">{% if qrcode %}鉴定成功{% else %}鉴定失败{% endif %}</h1>
            <!-- <a class="ui-btn-right ui-btn-corner-all ui-btn ui-icon-grid ui-btn-icon-notext ui-shadow" data-form="ui-icon" title=" Navigation " data-role="button" role="button"> Navigation </a> -->
        </div>
        <p></p>
{% if qrcode%}
        <div class=" ui-page-theme-a" role="main" data-theme="a" data-form="ui-page-theme-a">
            <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-inset="true" data-role="listview">
                {% if product %}
                    <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">产品名</span><span style="float:right;font-weight: bold;">{{product.fproductName}}</span></li>
                    {% if params %}
                        {% for k,v in params.items %}
                        <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">{{k}}</span><span style="float:right;font-weight: bold;word-break:break-all;width:11.5em;white-space: pre-wrap;text-align:right;">{{v}}</span></li>
                        {% endfor %}
                    {% endif %}
                    {% if product.fisoNo%}<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">产品国家授权编号</span><span style="float:right;font-weight: bold;">{{product.fisoNo}}</span></li>
                    {% endif %}
                    {% if qrcode.fdate%}<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">生产日期</span><span style="float:right;font-weight: bold;">{{qrcode.fdate}}</span></li>
                    {% endif %}
                    {% if product.fsmallPicUrl%}<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><div style="text-align:center;"><img style="max-width: 100%;" src="http://114.215.130.186/{{product.fsmallPicUrl}}"></div></li>
                    {% endif %}
                {% else %}
                <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><b>暂无产品信息</b></li>
                {% endif %}
            </ul>
        </div>
        <p></p>
        <div class=" ui-page-theme-a" role="main" data-theme="a" data-form="ui-page-theme-a">
            <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-inset="true" data-role="listview">
            {% if corp%}
                {% if corp.fcorpName%}<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">公司名</span><span style="float:right;font-weight: bold;">{{corp.fcorpName}}</span></li>
                {% endif %}
                {% if corp.faddress%}<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">公司地址</span><span style="float:right;font-weight: bold;">{{corp.faddress}}</span></li>
                {% endif %}
                {% if corp.fcontact%}<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">联系方式</span><span style="float:right;font-weight: bold;">{{corp.fcontact}}</span></li>
                {% endif %}
                {% if corp.fchargeMan%}<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">负责人</span><span style="float:right;font-weight: bold;">{{corp.fchargeMan}}</span></li>
                {% endif %}
                <!-- <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">负责人照片</span><span style="float:right;font-weight: bold;"><img style="width:100px;height: 100px" src="http://114.215.130.186/{{corp.fmanPicUrl}}"></span></li>
                <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">公司营业执照</span><span style="float:right;font-weight: bold;"><img style="width:100px;height: 100px" src="http://114.215.130.186/{{corp.fcorpPicUrl}}"></span></li>
                <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">公司授权资料</span><span style="float:right;font-weight: bold;"><img style="width:100px;height: 100px" src="http://114.215.130.186/{{corp.ffilePicUrls}}"></span></li> -->
            {% else %}
                <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><b>暂无企业信息</b></li>
            {% endif %}
            </ul>
        </div>
        <p></p>
        <div class=" ui-page-theme-a" role="main" data-theme="a" data-form="ui-page-theme-a">
            <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-inset="true" data-role="listview">
                <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">二维码编号</span><span style="float:right;font-weight:bold;">{{qrcode.fqrcode}}</span></li>
                <!-- <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">二维码生成时间</span><span style="float:right;font-weight: bold;"></span></li> -->
                {% if qrcode.fvolumeNo%}<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">卷标号</span><span style="float:right;font-weight: bold;">{{qrcode.fvolumeNo}}
                </span></li>
                {% endif %}
                {% if qrcode.fisBan%}<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">是否冻结</span><span style="float:right;font-weight: bold;">{% if qrcode.fisBan == False %}否
                {% else %}是
                {% endif %}</span></li>
                {% endif %}
                <!-- <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"></li>
                <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"></li>
                <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"></li> -->
            </ul>
        </div>
        <p></p>
        <div class=" ui-page-theme-a" role="main" data-theme="a" data-form="ui-page-theme-a">
            <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-inset="true" data-role="listview">
                <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">查询次数</span><span style="float:right;font-weight: bold;">{{qrcode.fremark1}}</span></li>
                <!-- <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">上次查询地点</span><span style="float:right;font-weight: bold;">{{qrcode.fremark2}}</span></li> -->
                <li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">本次查询时间</span><span style="float:right;font-weight: bold;">{{qrcode.fremark3|date:"Y-m-d H:i:s"}}</span></li>
<!--<li class="ui-li-static ui-body-a" data-theme="a" data-swatch="a" data-form="ui-body-a"><span style="float:left;">本次查询时间</span><span style="float:right;font-weight: bold;">{{rightnow|date:"Y-m-d H:i:s"}}</span></li>-->
            </ul>
        </div>

        <p></p>
{% else %}

        <div class="ui-corner-all custom-corners">
          <div class="ui-body ui-body-a">
            <p><span style="float:center;">鉴定失败，无此产品信息</span></p>

          </div>
        </div>
{% endif %}

        {% if product %}
        <div class="ui-footer ui-bar-a ui-footer-fixed slideup" data-theme="a" data-position="fixed" data-role="footer" role="contentinfo" style="">
            <div class="ui-navbar" data-role="navbar" role="navigation">
                <ul class="ui-grid-b">
                    <li class="ui-block-a">
                    <a target="_blank" href="{{product.fshopUrl}}">商城首页</a>
                    </li>
                    <li class="ui-block-b">
                    <a target="_blank" href="{{product.fbuyUrl}}">再次购买</a>
                    </li>
                    <li class="ui-block-c">
                    <a class="ui-btn" href="{{product.fmanualUrl}}">产品介绍</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
